<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="software_reseach_and_development" translate="label" sortOrder="10">
            <label>Software Research And Development</label>
        </tab>
        <section id="payment_charge" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Payment Charge</label>
            <tab>software_reseach_and_development</tab>
            <resource>SoftwareResearchAndDevelopment_PaymentCharge::paymentcharge_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="amount" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Amount</label>
                    <validate>validate-number validate-zero-or-greater required</validate>
                    <comment><![CDATA[ Add Fixed Amount to Quote Totals ]]></comment>
                    <depends>
                        <field id="payment_charge/general/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
